@keyframes heartbeat {
	to {
		transform: translateY(7%) scale(1.05);
		stroke: var(--bn-base-color-scenic);
	}
}

.button {
	display: inline-flex;
	gap: var(--bn-spacing-4);
	border: none;
	border-radius: var(--bn-border-radius-8);
	padding-block: var(--bn-spacing-8);
	padding-inline-start: var(--padding-start);
	padding-inline-end: var(--bn-spacing-16);
	background-color: var(--bn-button-background-color);
	color: var(--bn-button-text-color);
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
}

.button:hover {
	background-color: var(--bn-button-background-color--hover);
}

.button:hover svg {
	animation: heartbeat 400ms cubic-bezier(0.22, 0.61, 0.36, 1) alternate
		infinite;
}
