---
import styles from './styles.module.css';

interface Props {
  size?: string;
}

const { size } = Astro.props;
---

<div class={styles.blobWrapper} style={size ? `--size: ${size}` : undefined}>
  <div class={styles.blob}>
    <svg viewBox="0 0 500 500" id="blobSvg">
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color: #780606;"></stop>
          <stop offset="100%" style="stop-color: #bb0a1e;"></stop>
        </linearGradient>
      </defs>
      <path fill="url(#gradient)">
        <animate
          attributeName="d"
          dur="15000ms"
          repeatCount="indefinite"
          values="
            M367.5,284Q356,318,348.5,383.5Q341,449,284.5,425.5Q228,402,178.5,396Q129,390,137.5,335.5Q146,281,99.5,236.5Q53,192,81.5,140Q110,88,165,63Q220,38,261.5,86.5Q303,135,360,139Q417,143,398,196.5Q379,250,367.5,284Z;
            M398.5,293.5Q386,337,365,396Q344,455,281,463.5Q218,472,156.5,450.5Q95,429,109.5,358Q124,287,115.5,247.5Q107,208,106.5,145.5Q106,83,161.5,53.5Q217,24,261.5,76Q306,128,369.5,130Q433,132,422,191Q411,250,398.5,293.5Z;
            M410.5,314Q449,378,387.5,396.5Q326,415,273.5,432.5Q221,450,179.5,414.5Q138,379,139.5,330.5Q141,282,119.5,243.5Q98,205,124,170Q150,135,190.5,125.5Q231,116,270.5,117.5Q310,119,323.5,156.5Q337,194,354.5,222Q372,250,410.5,314Z;
            M424.69033,303.35725Q415.55137,356.71451,382.93882,413.22432Q350.32628,469.73412,291.23791,420.84366Q232.14954,371.95319,173.41843,388.65333Q114.68732,405.35347,65.50757,361.92144Q16.32783,318.48942,43.48038,257.69033Q70.63294,196.89124,96.63294,150.2349Q122.63294,103.57856,177.32327,115.87085Q232.01359,128.16314,275.06118,114.45922Q318.10876,100.75529,326.03399,148.39124Q333.95922,196.02719,383.89425,223.01359Q433.82929,250,424.69033,303.35725Z;
            M445,313Q445,376,385,395Q325,414,279,392.5Q233,371,191.5,368Q150,365,106,335Q62,305,93,259Q124,213,120.5,154.5Q117,96,169,70.5Q221,45,260,94Q299,143,351.5,147Q404,151,424.5,200.5Q445,250,445,313Z;
            M367.5,284Q356,318,348.5,383.5Q341,449,284.5,425.5Q228,402,178.5,396Q129,390,137.5,335.5Q146,281,99.5,236.5Q53,192,81.5,140Q110,88,165,63Q220,38,261.5,86.5Q303,135,360,139Q417,143,398,196.5Q379,250,367.5,284Z
          "
        />
      </path>
    </svg>
  </div>
</div>
