.blobWrapper {
	position: relative;
	width: var(--size, 100px);
	height: var(--size, 100px);
	aspect-ratio: 1;
}

.blob {
	width: 100%;
	height: 100%;
	filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.2));
}

.gradientStart {
	stop-color: var(--bn--blood-blob--stop-color--start);
}

.gradientEnd {
	stop-color: var(--bn--blood-blob--stop-color--end);
}
