---
import Polaroid from '@/components/Polaroid/Polaroid.astro';
---

<div class="polaroid_wrapper">
  <div class="one">
    <Polaroid keyName="elena-venture" size="sm" />
  </div>
  <div class="two">
		<Polaroid keyName="roc-puyol" size="sm" />
  </div>
  <div class="three">
		<Polaroid keyName="miguel-angel-zabaleta" size="sm" />
  </div>
  <div class="four">
		<Polaroid keyName="paris-fernandez" size="sm" />
  </div>
</div>

<style>
  .polaroid_wrapper {
		display: none;
		justify-content: center;
		flex-wrap: wrap;

		@media (width > 40rem) {
      display: flex;
    }
	}

	.one {
		position: relative;
		transform: rotate(-10deg);
	}

	.two {
		position: relative;
		transform: rotate(10deg);
	}

	.three {
		position: relative;
		transform: rotate(-7deg);
	}

	.four {
		position: relative;
		transform: rotate(4deg);
	}

	.one:hover, .two:hover, .three:hover, .four:hover {
		z-index: 2;
	}
</style>
