---
import BlobBlood from '@comp/BlobBlood/BlobBlood.astro';
import TopnavToggle from '../TopnavToogle/TopnavToogle.astro';
import TopnavItem from './TopnavItem/TopnavItem.astro';
import './styles.css';
---

<nav>
  <span id="nav-label" hidden>Navigation</span>

  <TopnavToggle />

  <div class="topnav__menu" role="dialog" aria-labelledby="nav-label">
    <ul class="topnav__links">
      <TopnavItem href='/characters' label='Personajes' />
      <TopnavItem href='/relations-map' label='Relaciones' />
    </ul>
    <div class="blob_topnav">
      <BlobBlood size={1000} duration={40000} />
    </div>
  </div>
</nav>
