:root {
	--bn-spacing-4: 4px;
	--bn-spacing-8: 8px;
	--bn-spacing-12: 12px;
	--bn-spacing-16: 16px;
	--bn-spacing-20: 20px;
	--bn-spacing-24: 24px;
	--bn-spacing-28: 28px;
	--bn-spacing-32: 32px;
	--bn-spacing-40: 40px;
	--bn-spacing-48: 48px;
	--bn-spacing-64: 64px;
	--bn-spacing-96: 96px;
	--bn-spacing-128: 128px;
}
