:root {
	--bn-base-color-gray--0-raw: 0 0 100;
	--bn-base-color-gray--100-raw: 0 0 0;

	--bn-base-color-gray--0: hsl(0deg 0% 100%);
	--bn-base-color-gray--2: hsl(0deg 0% 98%);
	--bn-base-color-gray--5: hsl(0deg 0% 95%);
	--bn-base-color-gray--10: hsl(0deg 0% 90%);
	--bn-base-color-gray--20: hsl(0deg 0% 80%);
	--bn-base-color-gray--30: hsl(0, 0%, 70%);
	--bn-base-color-gray--40: hsl(0, 0%, 60%);
	--bn-base-color-gray--50: hsl(0, 0%, 50%);
	--bn-base-color-gray--60: hsl(0, 0%, 40%);
	--bn-base-color-gray--70: hsl(0, 0%, 30%);
	--bn-base-color-gray--80: hsl(0, 0%, 20%);
	--bn-base-color-gray--90: hsl(0, 0%, 10%);
	--bn-base-color-gray--100: hsl(0, 0%, 0%);

	--bn-base-color-scenic-raw: 55, 90%, 35%;
	--bn-base-color-primary-raw: 270, 50%, 50%;
	--bn-base-color-secondary-raw: 48, 100%, 50%;
	--bn-base-color-tertiary-raw: 231, 50%, 75%;
	/* example of use with transparency:
		color: hsl(var(--bn-base-color-primary-raw) / 100%); */

	--bn-base-color-scenic: hsl(355, 90%, 35%);
	--bn-base-color-primary: hsl(270, 50%, 50%);
	--bn-base-color-secondary: hsl(48, 100%, 50%);
	--bn-base-color-tertiary: hsl(231, 50%, 75%);

	--bn-base-color-scenic-extra-light: hsl(355, 70%, 65%);
	--bn-base-color-scenic-light: hsl(355, 90%, 45%);
	--bn-base-color-scenic-dark: hsl(355, 90%, 25%);
	--bn-base-color-scenic-extra-dark: hsl(355, 90%, 15%);

	--bn-base-color-primary-extra-light: hsl(270, 50%, 70%);
	--bn-base-color-primary-light: hsl(270, 50%, 60%);
	--bn-base-color-primary-dark: hsl(270, 50%, 40%);
	--bn-base-color-secondary-extra-dark: hsl(270, 50%, 30%);

	--bn-base-color-secondary-extra-light: hsl(48, 100%, 70%);
	--bn-base-color-secondary-light: hsl(48, 100%, 60%);
	--bn-base-color-secondary-dark: hsl(48, 100%, 40%);
	--bn-base-color-secondary-extra-dark: hsl(48, 100%, 30%);

	--bn-base-color-tertiary-extra-light: hsl(231, 50%, 95%);
	--bn-base-color-tertiary-light: hsl(231, 50%, 85%);
	--bn-base-color-tertiary-dark: hsl(231, 50%, 65%);
	--bn-base-color-tertiary-extra-dark: hsl(231, 50%, 55%);
}
