@font-face {
	font-display: swap;
	font-family: "Jim Nightshade";
	src: url(../assets/fonts/JimNightshade.woff2) format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Ubuntu";
	src: url(../assets/fonts/ubuntu-regular.woff2) format("woff2");
}
