---
import { Picture } from 'astro:assets'

import LogoImage from '@/assets/logo_dark_version.svg'
const { mobileAligment } = Astro.props
---

<a
  class="logo"
  data-mobile-alignment={mobileAligment}
  href="/"
>
  <Picture
    alt="Logo Barcelona Nocturna"
    src={LogoImage}
    width={180}
  />
</a>

<style>
  .logo {
    display: block;
  }

  .logo img {
    display: block;
  }
</style>
