---
import { Image } from 'astro:assets';

import './styles.css';

import LogoImage from '@/assets/logo_dark_version.svg';
const { mobileAligment } = Astro.props;
---

<a
  class="logo"
  data-mobile-alignment={mobileAligment}
  href="/"
>
  <Image
    alt="Logo Barcelona Nocturna"
    src={LogoImage}
    width={180}
  />
</a>
