@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

.polaroid {
  perspective: 800px;

  figure {
    position: relative;
    aspect-ratio: 2/3;
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out, box-shadow 0.3s;

    background-image: var(--background);
    background-size: cover;

    &:hover {
      transform: rotateX(var(--x-rotation)) rotateY(var(--y-rotation)) scale(1.05);
      box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: radial-gradient(circle at var(--x) var(--y), rgba(255, 255, 255, 0.1) 15%, transparent 80%);
        pointer-events: none;
      }
    }
  }

  .polaroid__image {
    position: relative;
    aspect-ratio: 3/4;

    filter:
      blur(0.3px)
      contrast(90%)
      brightness(1.4)
      saturate(130%)
    ;

    img {
      height: 100%;
      width: 100%;
      border-radius: 1px;
      object-fit: cover;
      opacity: 1;
    }
  }

  figcaption {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--bn-base-color-primary-dark);
    text-align: center;
    font-family: "Jim Nightshade", cursive;
  }
}

.polaroid.lg {
  width: 400px;

  .polaroid__image {
    margin-inline: var(--bn-spacing-24);
    padding-top: var(--bn-spacing-40);
  }

  figcaption {
    margin-top: var(--bn-spacing-24);
    font-size: 60px;
  }
}

.polaroid.md {
  width: 280px;

  .polaroid__image {
    margin-inline: var(--bn-spacing-16);
    padding-top: var(--bn-spacing-28);
  }

  figcaption {
    margin-top: var(--bn-spacing-12);
    font-size: 42px;
  }
}

.polaroid.sm {
  width: 220px;

  .polaroid__image {
    margin-inline: var(--bn-spacing-12);
    padding-top: var(--bn-spacing-20);
  }

  figcaption {
    margin-top: var(--bn-spacing-12);
    font-size: 32px;
  }
}
