---
const { isFilterOpen, collectionName, filterByLabel } = Astro.props;

import '../Filters/styles.css';
---

<details class="filters" id={`filter-${collectionName}`} open={isFilterOpen}>
  <summary>{`Filtrar por ${filterByLabel}`}</summary>
    <div class="filterList">
      <slot />
    </div>
  </details>

<style>
  .filterList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--bn-spacing-8)
  }
</style>
