---
import styles from './styles.module.css';

const { isFilterOpen, collectionName, filterByLabel } = Astro.props;

// TODO: Revisar de donde vienen los estilos de los filtros
---

<details class="filters" id={`filter-${collectionName}`} open={isFilterOpen}>
  <summary>{`Filtrar por ${filterByLabel}`}</summary>
    <div class={styles.filterList}>
      <slot />
    </div>
  </details>
