.character {
  display: flex;
  flex-direction: column;
  gap: var(--bn-spacing-32);
  margin-block-start: var(--bn-spacing-48);
}

.character__image {
  align-self: center;
  border-radius: var(--bn-border-radius-4);
  background-color: var(--bn-base-color-gray--0);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: scale 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    scale: 1.05;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

picture {
  max-width: 512px;
  margin: var(--bn-spacing-16);

  img {
    height: auto;
  }
}

.character__profile {
  display: flex;
  flex-direction: column;
  gap: var(--bn-spacing-8);

  span {
    color: var(--bn-base-color-secondary);
    font-weight: 600;
  }
}

.character__profile__content {
  p {
    margin-block-end: var(--bn-spacing-20);
    line-height: 1.6;
  }
}