---
export const prerender = false;

import { getCharactersNamesFiltered } from '@/domain/characters';

import Heading from '@/components/Heading/Heading.astro';
import Filters from '@/containers/Filters/Filters.astro';
import PolaroidGroup from '@/containers/PolaroidGroup/PolaroidGroup.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

import getSearchParamAsArray from '@/lib/getSearchParamAsArray';

const selectedClans = getSearchParamAsArray(Astro.url, 'clan');
const selectedEntityTypes = getSearchParamAsArray(Astro.url, 'entityType');
const selectedFactions = getSearchParamAsArray(Astro.url, 'faction');

const selectedFilters = [
  ...selectedClans,
  ...selectedEntityTypes,
  ...selectedFactions,
];

const filteredCharacterNames = await getCharactersNamesFiltered(
  selectedClans,
  selectedEntityTypes,
  selectedFactions,
);
---

<BaseLayout pageTitle='Personajes' description="Galería de personajes de Barcelona Nocturna. Conoce a los vástagos, clanes y facciones que controlan la ciudad.">
  <Heading tagName="h1" size="h1">Personajes</Heading>

  <div class="characters">
    <div class="characters__grid">
      <PolaroidGroup names={filteredCharacterNames} size='sm' />
    </div>
    <aside class="characters__filters">
      <Filters filterItems={selectedFilters}/>
    </aside>
  </div>
</BaseLayout>

<style>
  .characters {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--bn-spacing-24);

    @media (width >= 600px) {
      flex-direction: row;
      gap: var(--bn-spacing-64);
    }
  }
  
  .characters__grid {
    flex: var(--bn-content-flex);
  }

  .characters__filters {
    flex: var(--bn-aside-flex);
  }
</style>
