---
export const prerender = false;

import { getCharactersNamesFilteredByClan } from '@/domain/characters';

import Filters from '@/components/Filters/Filters.astro';
import Heading from '@/components/Heading/Heading.astro';
import PolaroidGroup from '@/components/PolaroidGroup/PolaroidGroup.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

import getSearchParamAsArray from '@/lib/getSearchParamAsArray';

const selectedClans = getSearchParamAsArray(Astro.url, 'clan');

const filteredCharacterNames = await getCharactersNamesFilteredByClan(
  selectedClans,
);
---

<BaseLayout pageTitle='Personajes'>
  <Heading tagName="h1" size="h1">Personajes</Heading>

  <div class="characters">
    <div class="characters__grid">
      <PolaroidGroup names={filteredCharacterNames} size='sm' />
    </div>
    <aside class="characters__filters">
      <Filters filterItems={selectedClans}/>
    </aside>
  </div>
</BaseLayout>

<style>
  .characters {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--bn-spacing-24);

    @media (width >= 600px) {
      flex-direction: row;
      gap: var(--bn-spacing-64);
    }
  }
  
  .characters__grid {
    flex: var(--bn-content-flex);
  }

  .characters__filters {
    flex: var(--bn-aside-flex);
  }
</style>
