---
import { Image } from 'astro:assets';
import darkPackImage from '@/assets/darkPackImage.jpg';
import darkPackLogo from '@/assets/dark_pack_logo.svg';
import Heading from '@/components/Heading/Heading.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Dark Pack agreement" description="Acuerdo Dark Pack de World of Darkness para el uso de material con derechos de autor en Barcelona Nocturna.">
  <div class="darkPack__image">
    <a href="https://www.paradoxinteractive.com/games/world-of-darkness/community/dark-pack-agreement" aria-label="Dark Pack agreement link">
      <Image src={darkPackLogo} alt="Dark Pack Agreement logo" width={200} quality="max" />
    </a>
  </div>
  <div class="darkPack__title">
    <Heading tagName="h1" size="h1" align="center">Dark Pack Agreement</Heading>
  </div>
  <p>Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with permission. All rights reserved. For more information please visit <a href="https://www.worldofdarkness.com">worldofdarkness.com</a>.</p>
  <p>This material is not official World of Darkness material.</p>
  <div class="darkPack__decorativeImage">
    <Image src={darkPackImage} alt="Image of two vampires suching blodd from a woman" width={800} quality="max" />
  </div>
</BaseLayout>


<style>
  .darkPack__image {

    img {
      display: block;
      margin: 0 auto;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .darkPack__title {
    margin-block-start: var(--bn-spacing-32);
    margin-block-end: var(--bn-spacing-16);
  }

  p {
    margin-block-end: var(--bn-spacing-16);
    text-align: center;
  }

  .darkPack__decorativeImage {
    margin: 0 auto;
    margin-block-start: var(--bn-spacing-64);
    width: 100%;
    max-width: 800px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
</style>
