---
import BaseLayout from '../layouts/BaseLayout.astro';
import Heading from '@/components/Heading/Heading.astro';
import darkPackImage from '../../public/images/darkPackImage.jpg';
import darkPackLogo from '../../public/images/darkPack.png';
---

<BaseLayout pageTitle="Dark Pack agreement">
  <div class="darkPack__image">
    <a href="https://www.paradoxinteractive.com/games/world-of-darkness/community/dark-pack-agreement" aria-label="Dark Pack agreement link">
      <img src={darkPackLogo.src} alt="Dark Pack Agreement logo" />
    </a>
  </div>
  <div class="darkPack__title">
    <Heading tagName="h1" size="h1" align="center">Dark Pack Agreement</Heading>
  </div>
  <p>Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with permission. All rights reserved. For more information please visit <a href="https://www.worldofdarkness.com">worldofdarkness.com</a>.</p>
  <p>This material is not official World of Darkness material.</p>
  <div class="darkPack__decorativeImage">
    <img src={darkPackImage.src} alt="" />
  </div>
</BaseLayout>


<style>
  .darkPack__image {
    margin: 0 auto;
    width: 200px;

    img {
      display: block;
      width: 100%;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .darkPack__title {
    margin-block-start: var(--bn-spacing-32);
    margin-block-end: var(--bn-spacing-16);
  }

  p {
    margin-block-end: var(--bn-spacing-16);
    text-align: center;
  }

  .darkPack__decorativeImage {
    margin: 0 auto;
    margin-block-start: var(--bn-spacing-64);
    width: 100%;
    max-width: 800px;

    img {
      display: block;
      width: 100%;
    }
  }
</style>
