---
import { PAGE_SIZE } from '@/constants';
import { getPaginatedPosts, getPublishedPosts } from '@/domain/posts';
import { getCharactersById } from '@domain/characters';
import Hero from '../components/Hero/Hero.astro';
import PostList from '../components/PostList/PostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const characters = await getCharactersById([
  'elena-venture',
  'roc-puyol',
  'miguel-angel-zabaleta',
  'paris-fernandez',
  'ezequiel-medina',
]);

const { posts: firstPage } = await getPaginatedPosts(1, PAGE_SIZE);
const all = await getPublishedPosts();
const totalPages = Math.ceil(all.length / PAGE_SIZE);
---

<BaseLayout description="Crónica de Vampiro: La Mascarada 5ª Edición ambientada en Barcelona. Explora la ciudad, sus personajes y la trama de Barcelona Nocturna.">
	<!-- <BlobBlood /> -->
	<Hero characters={characters} />

	<div class="content">
		<PostList posts={firstPage} totalPages={totalPages} />

		<aside>
			<!-- Por ahora vacio -->
		</aside>
	</div>
</BaseLayout>

<style>
	.content {
		position: relative;
   		display: flex;
    	gap: var(--bn-spacing-64);
		margin-block-start: var(--bn-spacing-128);
	}

	aside {
		display: none;
		flex: var(--bn-aside-flex);
    	position: sticky;
    	top: 180px;
    	height: fit-content;

		@media (width > 40rem) {
			position: sticky;
			display: revert;
		}
	}
</style>
