---
import BlobBlood from '../components/BlobBlood/BlobBlood.astro';
import Hero from '../components/Hero/Hero.astro';
import PostList from '../components/PostList/PostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<BlobBlood />
	<Hero />

	<div class="content">
		<PostList/>

		<aside>
			<!-- Por ahora vacio -->
		</aside>
	</div>
</BaseLayout>

<style>
	.content {
		position: relative;
    display: flex;
    gap: var(--bn-spacing-64);
		margin-block-start: var(--bn-spacing-128);
	}

	aside {
		display: none;
		flex: var(--bn-aside-flex);
    position: sticky;
    top: 180px;
    height: fit-content;

		@media (width > 40rem) {
      position: sticky;
      display: revert;
    }
	}
</style>
