  /* The header frosted glass effect was learned in this post from Josh Comeau: https://www.joshwcomeau.com/css/backdrop-filter/ */
  :root {
    --bn-header-z-index: 10;
    --bn-logo-width-small: 8.75rem;
    --bn-logo-width-medium: 10rem;
    --bn-logo-width-large: 11.25rem;

    --bn-nav-link-color-light: var(--bn-base-color-gray--90);
    --bn-nav-link-color-dark: var(--bn-base-color-gray--5);
    --bn-nav-link-color: light-dark(var(--bn-nav-link-color-light), var(--bn-nav-link-color-dark));

    --bn-header-background-color-light--scrolled: rgb(255 255 255 / 20%);
    --bn-header-background-color-dark--scrolled: rgb(0 0 0 / 20%);
    --bn-header-background-color--scrolled: light-dark(var(--bn-header-background-color-light--scrolled), var(--bn-header-background-color-dark--scrolled));
  }

  .header {
    position: sticky;
    top: 0;
    z-index: var(--bn-header-z-index);
    /* background-color: rgb(158 168 223 / 0%); */
    transition: background-color 0.3s ease-in-out;
  }

  .header--scrolled {
    background-color: var(--bn-header-background-color--scrolled);
  }

  .header__backdrop {
    position: absolute;
    inset: 0;
    height: 200%;

    background: linear-gradient(
      to bottom,
      hsl(353.22deg 89.85% 38.63% / 20%)
      /* light theme: rgb(158 168 223 / 20%), */
      transparent 50%
    );

    backdrop-filter: blur(16px);
    mask-image: linear-gradient(
      to bottom,
      black 0% 50%,
      transparent 50% 100%
    );
    pointer-events: none;
  }

  .header__backdrop--scrolled {
    background: linear-gradient(
      to bottom,
      rgb(0 0 0 / 20%),
      /* light theme: rgb(255 255 255 / 20%), */
      transparent 50%
    );
  }

  .header__wrapper {
    position: relative;
    z-index: calc(var(--bn-header-z-index) + 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--bn-work-space-max-width);
    margin: 0 auto;
    padding-inline: var(--bn-spacing-24);
    padding-block: var(--bn-spacing-8);

    @media (min-width: 360px) {
      padding-inline: var(--bn-spacing-28);
      padding-block: var(--bn-spacing-12);
    }

    @media (min-width: 640px) {
      padding-inline: var(--bn-spacing-32);
      padding-block: var(--bn-spacing-16);
    }
  }

  .header__logo {
    width: var(--bn-logo-width-small);

    @media (min-width: 360px) {
      width: var(--bn-logo-width-medium);
    }

    @media (min-width: 640px) {
      width: var(--bn-logo-width-large);
    }
  }