---
import { Image } from 'astro:assets';

import darkPackLogo from '@/assets/dark_pack_logo.svg';
import styles from './styles.module.css';
---

<!-- TODO: Use Dark Pack logo as a SVG -->
<footer class={styles.footer}>
  <div class={styles.footer__content}>
    <div class={styles.footer__darkPack}>
      <a href="/dark-pack" aria-label="Dark Pack agreement link">
        <Image src={darkPackLogo} alt="Dark Pack agreement logo" width={100} quality='max' format='avif'/>
      </a>
    </div>
  </div>
</footer>
