---
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';
import Layout from './Layout.astro';

interface Props {
  pageTitle?: string;
  description?: string;
}

const { pageTitle, description } = Astro.props;
---

<Layout pageTitle={pageTitle} description={description}>
  <Header />
  <main class="main">
    <slot />
  </main>
	<Footer />
</Layout>

<style>
	.main {
		max-width: var(--bn-work-space-max-width);
		flex: 1;
		margin: 0 auto;
		margin-block-start: var(--bn-spacing-48);
		padding-inline: var(--bn-spacing-32);

    @media (width >= 600px) {
      margin-block-start: var(--bn-spacing-128);
    }
	}
</style>
