---
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/Header/Header.astro';
import Layout from './Layout.astro';

interface Props {
  pageTitle?: string;
  description?: string;
}

const { pageTitle, description } = Astro.props;
---

<Layout pageTitle={pageTitle} description={description}>
  <Header />
  <main class="main">
    <slot />
  </main>
	<Footer />
</Layout>

<style>
	.main {
		margin: 0 auto;
    /* Maybe in the future this will be moved to a more specific container */
		margin-block-start: var(--bn-spacing-128);
		padding-inline: var(--bn-spacing-32);
		max-width: var(--bn-work-space-max-width);
	}
</style>
