---
import BackgroundPatternBottom from '@/components/BackgroundPattern/BackgroundPatternBottom.astro';
import TheatreCurtain from '@/components/BackgroundPattern/TheatreCurtain.astro';
import BaseHead from './BaseHead.astro';

import './layout.css';
import '../styles/global.css';

interface Props {
  pageTitle?: string;
  description?: string;
  bodyClass?: string;
}

const { pageTitle, description, bodyClass } = Astro.props;

const title = pageTitle
  ? `Barcelona Nocturna - ${pageTitle}`
  : 'Barcelona Nocturna';
---

<!doctype html>
<html lang="es">
  <BaseHead pageTitle={title} description={description} />
  <body class={bodyClass}>
    <div class="background" aria-hidden="true">
      <TheatreCurtain />
      <BackgroundPatternBottom />
    </div>
    <slot />
  </body>
</html>

<script>
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
  anchor.addEventListener('click', (e) => {
    e.preventDefault();

    const href = anchor.getAttribute('href');
    if (!href) return; // Salir si no hay href

    const targetElement = document.querySelector(href);
    if (!targetElement) return; // Salir si no se encuentra el elemento

    const offset = 100; // pixels to offset from top
    const elementPosition = targetElement.getBoundingClientRect().top + window.scrollY;

    window.scrollTo({
      top: elementPosition - offset,
      behavior: 'smooth'
    });
  });
});
</script>