.backgroundPattern {
	position: absolute;
	top: var(--top, -100px);
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	pointer-events: none;
	overflow: hidden;

	@media (width > 40rem) {
		top: -50px;
	}
}

.backgroundPattern svg {
	width: max(100vw, 3000px);
	height: auto;
	min-width: 3000px;
}

@media (prefers-reduced-motion: no-preference) {
	.third-layer {
		--animation-duration: 60s;
		--animation-horizontal-movement-distance: 120px;
		--animation-vertical-movement-distance: 32px;

		fill: var(--bn--theatre-curtain--background-color--third-layer);
		animation: move var(--animation-duration) linear infinite;
	}

	.second-layer {
		--animation-duration: 36s;
		--animation-horizontal-movement-distance: -200px;
		--animation-vertical-movement-distance: 24px;

		fill: var(--bn--theatre-curtain--background-color--second-layer);
		animation: move var(--animation-duration) linear infinite reverse;
	}

	.first-layer {
		--animation-duration: 48s;
		--animation-horizontal-movement-distance: 160px;
		--animation-vertical-movement-distance: 40px;

		fill: var(--bn--theatre-curtain--background-color--first-layer);
		animation: move var(--animation-duration) linear infinite;
	}

	@keyframes move {
		0% {
			transform: translateX(0px) translateY(0px);
		}
		50% {
			transform: translateX(
					calc(var(--animation-horizontal-movement-distance) * -1)
				)
				translateY(calc(var(--animation-vertical-movement-distance) * -1));
		}
		100% {
			transform: translateX(0px) translateY(0px);
		}
	}
}
